#Cosform {
  position: absolute;
  margin-left: 35%;
  margin-top: 10%;
}

.Cosinput {
  padding: 1em;
  width: 100%;
  font-size: 1em;
  margin: 1em;
}

.Coslogin-btn {
  position: absolute;
  width: 25%;
  height: 25%;
  font-weight: bold;
  margin-left: 30%;
  margin-top: 10%;
}

#Coshelp-div {
  background-color: ;
  position: absolute;
  margin-left: 35em;
  margin-top: 28em;
  font-size: 1em;
  display: inline-block;
}
